img{
    height:100px;
    width:150px;
}
.socialmedia{
    height:20px;
    width:22px;
}
.hotel{
    height:500px;
    width:500px;
}
body{
    height:100vh;
    width:100vw;
}
div.container{
    height:100vh;
    width:100vw;
}
#logo{
    height:60px;
    width:60px;
}
#logo-div{
    margin-left:1%;
}
body{
    background-color: #e0e0e0;
    margin: 0px;
    font-family:  'Ubuntu', sans-serif;
    overflow:auto;
    width:100vw;
}
header{
    /* margin-top: 0%; */
    background-color: rosybrown;
    position: fixed;
    width:100%;
    z-index:1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top:0;
}
.normallink{
    text-decoration: none;
    color:black;
}
#login{
    margin-right:2%;
}
div.content{
    display:flex;
    flex-direction: column;
    margin-top: 5%;
}
#box{
    display:flex; 
    border:1px solid black; 
    max-height: 400px; 
    margin:2%;
}
img.hotel{
    margin: 2% 4% 0% 4%;
}
form{
    margin: 0 4% 1% 4%;
}
#details{
    margin:1% 4% 2% 4%;
}
footer{
    background-color: rosybrown;
    position: fixed;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7%;
    bottom: 0;
    left:0;
    box-sizing: border-box;
    /* margin-top: 2%; */
}
div#social{
    margin-right:2%;
    /* margin:0.5%; */
}
#pvtltd{
    font-size: 10px;
    /* transform: translate(0, 100%); */
}

/* Hotel ims content */
#hotel-img{
    flex-grow: 3;
    display: flex; 
    align-items: center; 
    justify-content: center;
}
img.hotel{
    max-height: 350px; 
    transform: translate(0,-3.5%);
}

/* form content */
#booking-form{
    text-align: center;
    margin-right: 2%;
    flex-grow: 1;
    padding: 1%;
    text-align: center;
    border-left: 1px solid black;
    max-height: 400px;
   
}
.outer-div {
   
    display: flex;
    justify-content: space-around;
    padding: 5% 0%;
    /* align-items: flex-start; */
}
.inner-input {
    width: 60%;
}
.form-label{
    display: inline-block;
     width:50%; 
     text-align: left;
    /* margin-right:10%; */
    
    
}
#book-now_btn{
    padding:2%;
}

/* cursive */
.font-cursive{
    font-family: cursive !important;
}