img{
    height:100px;
    width:150px;
}
.socialmedia{
    height:20px;
    width:22px;
}
.hotel{
    height:200px;
    width:250px;
}
.map{
    height:75vh;
    width:75vw;
}
body{
    height:100vh;
    width:100vw;
    margin:0px;
    background-color: #e0e0e0;
}
div.container{
    height:100vh;
    width:100vw;
}
#logo{
    height:60px;
    width:60px;
}
header{
    background-color: rosybrown;
}
footer{
    background-color: rosybrown;
}
div.htl{
    margin:2%;
    width:40%;
    background-color: rgb(132,136,139);
}